# DEPRECATED - External API for Price Checking Market Screenshots
OCR_API="http://127.0.0.1:8000"

# Better Auth
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:3000"

# Discord OAuth
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""
DISCORD_BOT_TOKEN=""

# Database Connection
DATABASE_URL="postgresql://"
DATABASE_URL_UNPOOLED="postgresql://"
DATABASE_CA_CERT=""

# Valkey Connection
VALKEY_URL=""
