@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 220 23% 95%;
      --foreground: 234 16% 35%;

      --card: 0 0% 100%;
      --card-foreground: 234 16% 35%;

      --popover: 0 0% 100%;
      --popover-foreground: 234 16% 35%;

      --primary: 337 58% 48%;
      --primary-foreground: 220 23% 95%;

      --secondary: 355 65% 67%;
      --secondary-foreground: 220 23% 95%;

      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;

      --accent: 231 10% 59%;
      --accent-foreground: 234 16% 35%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 220 23% 95%;

      --border: 355 65% 67%;
      --input: 355 65% 67%;
      --ring: 231 10% 59%;

      --background2: 220 21% 89%;
      --select-background: 232, 10%, 53%;
      
      --radius: 0.5rem;
    }

    .dark {
      --background: 232 23% 18%;
      --foreground: 227 68% 88%;

      --card: 230 19% 26%;
      --card-foreground: 227 68% 88%;

      --popover: 231 16% 34%;
      --popover-foreground: 227 68% 88%;

      --primary: 337 58% 48%;
      --primary-foreground: 232 23% 18%;

      --secondary: 345 88% 94%;
      --secondary-foreground: 232 23% 18%;

      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;

      --accent: 228 15% 57%;
      --accent-foreground: 227 68% 88%;

      --destructive: 351 74% 73%;
      --destructive-foreground: 232 23% 18%;

      --border: 345 88% 94%;
      --input: 345 88% 94%;
      --ring: 228 15% 57%;

      --background2: 236 23% 12%;
      --select-background: 228, 20%, 65%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-gradient-to-b from-background to-background2 text-foreground;
    }
    ::selection {
      background: hsla(var(--select-background),0.2);
    }
  }