@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 220 23% 95%;
      --foreground: 234 16% 35%;

      --card: 223 16% 83%;
      --card-foreground: 234 16% 35%;

      --popover: 225 14% 77%;
      --popover-foreground: 234 16% 35%;

      --primary: 266 85% 58%;
      --primary-foreground: 220 23% 95%;

      --secondary: 316 73% 69%;
      --secondary-foreground: 220 23% 95%;

      --muted: 231 10% 59%;
      --muted-foreground: 231 10% 59%;

      --accent: 316 73% 69%;
      --accent-foreground: 220 23% 95%;

      --destructive: 347 87% 44%;
      --destructive-foreground: 346 74% 92%;

      --border: 231 97% 72%;
      --input: 316 73% 69%;
      --ring: 220 91% 54%;

      --background2: 220 21% 89%;
      --select-background: 232, 10%, 53%;
      
      --radius: 0.5rem;
    }

    .dark {
      --background: 232 23% 18%;
      --foreground: 227 68% 88%;

      --card: 230 19% 26%;
      --card-foreground: 227 68% 88%;

      --popover: 231 16% 34%;
      --popover-foreground: 227 68% 88%;

      --primary: 267 83% 80%;
      --primary-foreground: 232 23% 18%;

      --secondary: 316 74% 85%;
      --secondary-foreground: 232 23% 18%;

      --muted: 228 15% 57%;
      --muted-foreground: 228 15% 57%;

      --accent: 316 74% 85%;
      --accent-foreground: 232 23% 18%;

      --destructive: 351 74% 73%;
      --destructive-foreground: 232 23% 18%;

      --border: 234 82% 85%;
      --input: 316 74% 85%;
      --ring: 220 83% 75%;

      --background2: 236 23% 12%;
      --select-background: 228, 20%, 65%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-gradient-to-b from-background to-background2 text-foreground;
    }
    ::selection {
      background: hsla(var(--select-background),0.2);
    }
  }