
.dlink, .mlink {
  position: relative;
}

.dlink::after, .mlink::after {
  content: '';
  position: absolute;
  background: hsl(var(--primary));
  z-index: -1;
  opacity: 0;
  transition: height 0.3s ease-out, width 0.3s ease-out;
}

.dlink::after {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  background: -webkit-radial-gradient(bottom, hsl(var(--primary)), transparent 50%) bottom no-repeat;
  background: radial-gradient(at bottom, hsl(var(--primary)), transparent 50%) bottom no-repeat;
}

.mlink::after {
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  background: -webkit-radial-gradient(center, hsl(var(--primary)), transparent 50%) center no-repeat;
  background: radial-gradient(at center, hsl(var(--primary)), transparent 50%) center no-repeat;
}

.dlink.active::after, .mlink.active::after {
  opacity: 0.9;
}

.dlink.active::after {
  width: 40px;
  height: 20px;
}

.mlink.active::after {
  width: 20px;
  height: 20px;
}